<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="com.android.providers.tv.permission.READ_EPG_DATA" />
    <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_thapcamtv"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ThapcamTV" >
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:banner="@drawable/app_icon_thapcamtv"
            android:icon="@mipmap/ic_thapcamtv"
            android:label="@string/app_name"
            android:logo="@mipmap/ic_thapcamtv"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name=".providers.ProgramImageProvider"
            android:authorities="com.thangoghd.thapcamtv.programimage"
            android:exported="true" />
        <activity
            android:name=".PlayerActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="thapcamtv" android:host="live" />
                <data android:scheme="thapcamtv" android:host="live" android:pathPattern="/.*" />
                <data android:scheme="thapcamtv" android:host="live" android:pathPattern="/.*\\?.*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="thapcamtv" android:host="highlight" />
                <data android:scheme="thapcamtv" android:host="highlight" android:pathPattern="/.*" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <service
            android:name=".channels.HighlightChannelUpdateService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true" />
        <service
            android:name=".channels.LiveChannelUpdateService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true" />
    </application>

</manifest>